.one-list {
  border: 1px solid #b76cff4d;
  margin-bottom: 20px;
  position: relative;

  .remove-list {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    opacity: .5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.not-empty {
  color: #55c6ec;
}

.tasks-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;

  .one-task-w {
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 1px;
    border-radius: 5px;

    i {
      position: absolute;
      top: 7px;
      right: -25px;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 17px;
      color: #3e4b5b;
      cursor: pointer;

      &:hover {
        color: #9d58ff;
        transition: all .5s ease-in-out;
      }
    }

    &:hover {
      background-color: #efefef;
    }
  }

  .checked {
    color: #a35dfe;
    text-decoration: line-through;
    transition: all .5s ease-in-out;
  }

  .form-check-label {
    cursor: pointer;
  }
}

.tasks-col {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, #4becd5, #18cfb4);
  }
}

.error-text {
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fe7096;
  font-size: 14px;
}

.pagination {
  margin: 10px auto 40px auto;
}

#create-list-form {

  .form-group {
    margin-bottom: 30px;
    position: relative;
  }
}

.search-bl {
  position: relative;

  .created-date {
    font-size: 10px;
    color: #6c757d;
  }

  i {
    font-size: 25px;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
  }

  .done {
    color: #07cdae;
  }

  .not-done {
    color: #fe7096;
  }

  .list-title-search {
    color: #9a55ff !important;
  }
}

.brand-logo img {
  height: auto !important;
}